<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock title %}</title>
    {% block style %} {% endblock style%}
</head>

<body>
  <div class="main_nav">
    <ul class="navlist">
      <li class="active"><a href="#" id="current">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div id="content">
    {% block content %} {% endblock content %}
  </div>
  <div id="navbox">
    <ul id="navlistbox">
      <li><a href="#">Recent blogs</a></li>
      <li><a href="#">Archives</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Friends</a></li>
    </ul>
  </div>
  <div id="footer">Created by Dieter Schneider | <a href="http://www.csstemplateheaven.com">www.csstemplateheaven.com</a></div>
</div>
</body>
</html>
